.repair {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0D1317;
    font-family: 'Unbounded';
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}