* {
  box-sizing: border-box;
}

html {
  min-height: 100vh;
  height: max-content;
}

body {
  font-family: "Nunito Sans", Arial, Helvetica, sans-serif;
  font-weight: 400;
  background-color: #0D1317;
  min-height: 100vh;
  height: max-content;
}

#root {
  min-height: 100vh;
  height: max-content;
}

.page {
  min-height: 100vh;
  height: max-content;
}

.page_name_auth {
  background: url(../../images/bg.svg) no-repeat;
  background-size: 100% 100%;
  background-position: center;
}

.content {
  min-height: calc(100vh - 65px);
  height: max-content;
  width: 100%;
  padding: 32px 40px 74px;
}

.content__btn {
  padding: 8px 16px;
  background-color: #89D2DC;
  border-radius: 30px;
  font-size: 16px;
  line-height: 1.5;
  color: #314D6B;
  border: 0;
  transition: all .2s ease-in-out;
  cursor: pointer;
}

.content__btn:hover {
  background-color: #5DA6B0;
}

.content__table {
  max-height: calc(100vh - 360px);
  height: calc(100vh - 360px);
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding-bottom: 32px;
}

/* хром, сафари */
.content__table::-webkit-scrollbar {
  width: 0;
}

.content__table_name_tokens {
  max-height: calc(100vh - 340px);
  height: calc(100vh - 340px);
  max-width: 50.29vw;
  min-width: 100%;
}

.content__graph {/* 
  width: 100% !important;
  max-width: 100% !important;
  min-width: 100% !important;
  height: 100% !important;
  min-height: 100% !important;
  max-height: 100% !important; */
  background-color: #162027;
  border-radius: 8px;
  padding: 16px;
}

.content__graph-title {
  font-family: 'Unbounded';
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  margin: 0 0 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid #314D6B;
}

@media (orientation: portrait) {
  .page_name_auth {
    background-image: url(../../images/bg-v.svg);
  }
}

@media screen and (max-width:768px) {
  .content {
    padding-bottom: 50px;
  }

  .content__table {
    padding-right: 40px;
  }
}

@media screen and (max-width:500px) {
  .content {
    padding: 20px 16px 40px;
    min-height: calc(100vh - 66px);
  }

  .content__table {
    padding-right: 16px;
    max-height: calc(100vh - 310px);
    height: calc(100vh - 310px);
  }
}
