.pages {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #0D1317;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 12px;
    width: 100%;
    z-index: 10;
}

.content__table_name_tokens .pages {
    background-color: #162027;
}

.pages__container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 12px;
}

.pages__arrow {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.pages__arrow_disabled {
    cursor: default;
}

.pages__arrow_route_left {
    transform: rotate(180deg);
    margin-right: 4px;
}

.pages__arrow_route_down {
    transform: rotate(90deg);
}

.pages__num {
    width: 20px;
    height: 20px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 12px;
    line-height: 16px;
    margin-right: 4px;
    border: 1px solid transparent;
    color: #95B0B4;
}

.pages__num:hover,
.pages__num_active {
    border: 1px solid #89D2DC;
    color: #89D2DC;
}

.pages__num_active:hover {
    cursor: default;
}

.pages__ellipsis {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    line-height: 16px;
    margin-right: 4px;
    color: #95B0B4;
}

.pages__ellipsis + .pages__ellipsis {
    display: none;
}

.pages__choice {
    font-size: 12px;
    line-height: 16px;
    color: #95B0B4;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}

.pages__active-page {
    border: 1px solid #314D6B;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 4px 2px 6px;
    margin-left: 4px;
}

.pages__list {
    list-style: none;
    padding: 6px;
    border: 1px solid #314D6B;
    border-radius: 4px;
    margin: 0;
    position: absolute;
    bottom: calc(100% + 2px);
    right: 0;
    width: max-content;
    min-width: 40px;
    display: none;
    background-color: #0D1317;
}

.pages__list_opened {
    display: block;
}

.pages__item {
    font-size: 12px;
    line-height: 16px;
    color: #95B0B4;
    padding: 2px 0;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.pages__item:hover,
.pages__item_active {
    color: #fff;
}

@media screen and (max-width:768px) {
    .pages {
        right: auto;
        left: 0;
        justify-content: flex-start;
    }
}
