.main__title {
  font-family: "Unbounded";
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  color: #ffffff;
  margin: 0 0 16px;
}

.main__text {
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  margin: 0 0 24px;
  max-width: 1000px;
}

.main__search-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.main__search {
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  width: 100%;
  max-width: 785px;
  padding: 8px 16px 8px 48px;
  border: 1px solid #314d6b;
  border-radius: 8px;
  background: url(../../images/search.svg) no-repeat transparent;
  background-size: 24px 24px;
  background-position: 12px center;
  outline: none !important;
  margin-right: 20px;
}

.main__inactive {
  display: flex;
  align-items: center;
  position: relative;
  white-space: nowrap;
}

.main__inactive-input {
  opacity: 0;
  position: absolute;
}

.main__inactive-label {
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.main__inactive-label::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  background: url(../../images/check-off.svg) no-repeat 100%;
}

.main__inactive-input:checked + .main__inactive-label::before {
  background-image: url(../../images/check-on.svg);
}

.main__table {
  max-width: 100%;
  position: relative;
}

.main__table-address {
  position: relative;
}

.main__table-link {
  text-decoration: none;
  color: #fff;
  display: block;
}

/* .main__table-address .main__table-whole,
.main__table-address:hover .main__table-reduction {
  display: none;
}

.main__table-address:hover .main__table-whole,
.main__table-address .main__table-reduction {
  display: block;
}

.main__table-whole {
  position: absolute;
  top: 0;
  left: 0;
  padding: 12px;
  z-index: 100;
} */

@media screen and (max-width: 768px) {
  .main__title {
    font-size: 28px;
    line-height: 35px;
  }

  .main__text {
    margin-bottom: 22px;
  }

  .main__search-form {
    margin-bottom: 24px;
  }

  .main__search {
    max-width: 334px;
  }

  .main__table {
    margin-right: -40px;
    max-width: calc(100% + 40px);
  }
}

@media screen and (max-width: 550px) {
  .main__search-form {
    display: block;
  }

  .main__search {
    max-width: 100%;
    margin-bottom: 16px;
    margin-right: 0;
  }
}

@media screen and (max-width: 500px) {
    .main__title {
        font-size: 16px;
        line-height: 24px;
      }
    
      .main__text {
        font-size: 14px;
        line-height: 1.4;
        margin-bottom: 16px;
      }
    
      .main__search-form {
        margin-bottom: 20px;
      }
    
      .main__table {
        margin-right: -16px;
        max-width: calc(100% + 16px);
      }
}