.table {
    width: 100%;
    border-spacing: 0 4px;
}

.table th {
    padding: 8px 12px;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: -0.011em;
    color: #95B0B4;
    text-align: right;
    white-space: nowrap;
}

.table th:first-child {
    text-align: left;
}

.table:not(.table-tokens) tbody tr {
    cursor: pointer;
}

.table td {
    background-color: #162027;
    padding: 12px;
    font-size: 16px;
    line-height: 1.5;
    color: #FFFFFF;
    text-align: right;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table td:first-child {
    border-radius: 8px 0 0 8px;
    text-align: left;
}

.table td:last-child {
    border-radius: 0 8px 8px 0;
}

.table:not(.table-tokens) tbody tr:hover td {
    background-color: rgba(22, 32, 39, .7);
}

/* Tokens */

.table-tokens th {
    padding: 4px 12px;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: normal;
}

.table-tokens td {
    padding: 7px 12px;
    font-size: 12px;
    line-height: 16px;
}

.table-tokens__green td {
    background-color: rgba(41, 178, 119, 0.1);
}

.table-tokens__red td {
    background-color: rgba(221, 57, 62, 0.1);
}

.table-tokens td a {
    color: #89D2DC;
    text-decoration: underline;
}

.table-tokens td a:hover {
    color: #89D2DC;
    text-decoration: none;
}

@media screen and (max-width:768px) {
    .table {
        width: calc(100% - 40px);
    }
}

@media screen and (max-width:500px) {
    .table {
        width: calc(100% - 16px);
    }

    .table th {
        padding: 4px 12px;
        font-size: 12px;
        line-height: 16px;
    }

    .table td {
        padding: 7px 12px;
        font-size: 12px;
        line-height: 16px;
    }
}
