.auth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10.59vh 1.39vw;
}

.auth__logo {
    width: 200px;
    margin-bottom: 17.27vh;
}

.auth__container {
    text-align: center;
}

.auth__title {
    font-family: "Unbounded";
    font-weight: 700;
    font-size: 56px;
    line-height: 69px;
    color: #FFFFFF;
    margin: 0 0 36px;
    max-width: 750px;
}

.auth__text {
    font-size: 16px;
    line-height: 1.5;
    color: #FFFFFF;
    margin: 0 0 6.36vh;
}

@media screen and (max-width:768px) {
    .auth {
        padding: 9.77vh 40px;
    }

    .auth__logo {
        margin-bottom: 19.73vh;
    }

    .auth__title {
        font-size: 52px;
        line-height: 65px;
    }

    .auth__text {
        max-width: 570px;
        margin: 0 auto 4.69vh;
    }
}

@media screen and (max-width:500px) {
    .auth {
        padding: 8.45vh 16px;
    }

    .auth__logo {
        width: 106px;
        margin-bottom: 11.27vh;
    }

    .auth__title {
        font-weight: 500;
        font-size: 30px;
        line-height: 37px;
        margin-bottom: 28px;
    }

    .auth__text {
        max-width: 100%;
        margin-bottom: 5.63vh;
    }
}
